@using ESchool.Helpers
@model IEnumerable<ESchool.Models.MultipleChoice.MultipleChoiceExercise>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfQuestions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfQuestions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalScore)
            </td>
            <td>
                <a asp-action="DoMultipleChoiceExercise" asp-route-id="@item.Id"> Do exercise</a>
            </td>
            @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Teacher))
            {

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit Exercise</a> |
                    <a asp-action="EditMultipleChoiceQuestion" asp-route-id="@item.Id">Edit exercises questions</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }

        </tr>
}
    </tbody>
</table>
