@using ESchool.Helpers
@model IEnumerable<ESchool.Models.MultipleChoice.MultipleChoiceExercise>

@{
    ViewData["Title"] = "Упражнения";
}

<h1>Упражнения с множественным выбором</h1>
@if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Teacher))
{
    <p>
        <a asp-action="Create">Добавить упражнение</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Topic)*@Тема
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NumberOfQuestions)*@Количество Вопросов
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TotalScore)*@Баллы
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfQuestions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalScore)
                </td>
                <td>
                    <a asp-controller="MultipleChoiceExercises" asp-action="MultiChoiceExercise" asp-route-id="@item.Id">Выполнить упражнение</a>
                </td>
                @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Teacher))
                {

                    <td>

                        @*<a asp-controller="Exercises" asp-action="TranslateExercise" asp-route-id="@item.Id"> Do Translate exercise</a>|*@
                        <a asp-controller="MultipleChoiceQuestions" asp-action="Create" asp-route-id="@item.Id">Добавить вопрос</a> |
                        <a asp-action="QuestionsOFExercise" asp-route-id="@item.Id">Список вопросов</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать упражнение</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>

                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Student))
{
    <div>
        <a asp-controller="Home" asp-action="MyCourse">Назад</a>
    </div>
}
@if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Teacher))
{
    <a asp-controller="Home" asp-action="CourseControl">Назад</a>
}
