@model ESchool.Models.MultipleChoice.MultipleChoiceViewModel

@{
    ViewData["Title"] = "Упражнения с множественным выбором";
}

<h1>Упражнение</h1>
<h4>Ответьте на следующие вопросы по теме «@Html.DisplayFor(model => Model.Topic)». </h4>
<br />
<input type="hidden" id="exerciseId" name="@Html.NameFor(modelItem => Model.ExerciseId);" class="exerciseId" value="@Html.DisplayFor(modelItem => Model.ExerciseId)" />

<table class="table">
    <tbody>
        @foreach (var item in Model.MultipleChoiceQuestions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionNumber) )  @Html.DisplayFor(modelItem => item.Questiion) ( @Html.DisplayFor(modelItem => item.Score))
                </td>
            </tr>

            <tr>
                <td>
                    <input type="radio" id="choiceA" name="@Html.DisplayFor(modelItem => item.Id)" class="rb" value="@Html.DisplayFor(modelItem => item.choiceA)" />
                    @Html.DisplayFor(modelItem => item.choiceA)
                </td>
                
            </tr>
            <tr>
                <td>
                    <input type="radio" id="choiceB" name="@Html.DisplayFor(modelItem => item.Id)" class="rb" value="@Html.DisplayFor(modelItem => item.choiceB)" />
                    @Html.DisplayFor(modelItem => item.choiceB)
                </td>

               
            </tr>
            <tr>
                <td>
                    <input type="radio" id="choiceC" name="@Html.DisplayFor(modelItem => item.Id)" class="rb" value="@Html.DisplayFor(modelItem => item.choiceC)" />
                    @Html.DisplayFor(modelItem => item.choiceC)
                </td>
                
            </tr>
            <tr>
                <td>
                    <input type="radio" id="choiceD" name="@Html.DisplayFor(modelItem => item.Id)" class="rb" value="@Html.DisplayFor(modelItem => item.choiceD)" />
                    @Html.DisplayFor(modelItem => item.choiceD)
                </td>
              
            </tr>
            
            <tr>
                <td>
                    <label id="correctans" name="@Html.DisplayFor(modelItem => item.Id)" class="rb" style="display:none; color:forestgreen;"><b>@Html.DisplayFor(modelItem => item.Answer)</b></label>
                </td>
            </tr>

            }
        </tbody>
</table>
<button type="button" id="examButton" class="btn btn-primary" onclick="getResults()">Завершить</button>
<form>
    <a class="rb" style="display:none;" asp-controller="Results" asp-action="StudentResults">Результаты</a>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#examButton").click(function () {
            $(".rb").show();
            $(".rb").attr("disabled", true);
            $("#examButton").hide();
        });
    });

    function getResults() {
        /*document.getElementById("pickedAnswers").innerHTML = "";*/

        var exerId = document.getElementById('exerciseId');
        //var topics = document.getElementByClassName('topic');
        var ExerciseId = exerId.value;
        //alert(ExerciseId);
        var results = document.getElementsByTagName('input');
        var answers = [];

        for (i = 0; i < results.length; i++) {

            if (results[i].type == "radio") {

                if (results[i].checked) {
                    answers.push(results[i].value);
                    /*document.getElementById("pickedAnswers").innerHTML += "Q " + results[i].name + ")" + "The selected answer is " + results[i].value + "<br>";*/
                }
            }
        }
        console.log(answers);
        // jQuery Ajax Post Request using $.ajax()
        $.ajax({
            url: 'MultiChoiceExercise',
            type: 'POST',
            // passing JSON objects as comma(,) separated values
            data: {
                ExerciseId,
                answers
            },
            success: (response) => {
                // response from PHP back-end PHP server
                $("#resultID").show().html(response);
            }
        })
    }
</script>