@model IEnumerable<ESchool.Models.MultipleChoice.MultipleChoiceQuestion>

@{
    ViewData["Title"] = "QuestionsOfExercise";
}

<h1>QuestionsOfExercise</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questiion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.choiceA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.choiceB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.choiceC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.choiceD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Questiion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.choiceA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.choiceB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.choiceC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.choiceD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                <a asp-controller="MultipleChoiceQuestions" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="MultipleChoiceQuestions" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="MultipleChoiceQuestions" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
