@model IEnumerable<ESchool.Models.WordExercise.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Topic)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questiion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Topic)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Questiion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    <a asp-controller="Questions" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Questions" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Questions" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
