@model IEnumerable<ESchool.Models.WordExercise.Exercise>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfQuestions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfQuestions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalScore)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DoExercise" asp-route-id="@item.Id">Do exercises </a> |
                <a asp-action="EditQuestions" asp-route-id="@item.Id">Edit Questions</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@


                <a asp-controller="Exercises" asp-action="DoExercise" asp-route-id="@item.Id"> Do exercise</a>|
                <a asp-controller="Exercises" asp-action="Edit" asp-route-id="@item.Id">Edit Exercise</a> |
                <a asp-controller="Questions" asp-action="EditQuestion" asp-route-id="@item.Id">Edit exercises questions</a> |
                <a asp-controller="Questions" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="Questions" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
