@model ESchool.Models.WordExercise.ExerciseViewModel

@{
    ViewData["Title"] = "Упражнение";
}
<h1>Упражнение</h1>
<h4>Ответьте на следующие вопросы</h4>
<h4>Тема: @Html.DisplayFor(model=>Model.Topic)</h4>
<br />
<input type="hidden" id="exerciseId" name="@Html.NameFor(modelItem => Model.ExerciseId);" class="exerciseId" value="@Html.DisplayFor(modelItem => Model.ExerciseId)" />
<table class="table">

    <tbody>

        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionNumber) )  @Html.DisplayFor(modelItem => item.Questiion) ( @Html.DisplayFor(modelItem => item.Score))
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="rb" class="getanswer" name="@Html.NameFor(modelItem => item.Answer)">
                </td>
            </tr>
            <tr>
                <td>
                    <label id="correctans" name="@Html.DisplayFor(modelItem => item.Answer)" class="rb" style="display:none; color:forestgreen;"><b>@Html.DisplayFor(modelItem => item.Answer)</b></label>
                </td>
            </tr>
        }
    </tbody>
</table>

<button type="button" id="examButton" class=" btn btn-primary" onclick="getResults()">Завершить</button>
<form>
    <a class="rb" style="display:none;" asp-controller="Results" asp-action="StudentResults">Результаты</a>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#examButton").click(function () {
            $(".rb").show();
            $(".rb").attr("disabled", true);
            $("#examButton").hide();
        });
    });

    function getResults() {
        
        var exerId=document.getElementById('exerciseId');
        var ExerciseId = exerId.value;
        alert(ExerciseId);
        var results = document.getElementsByClassName('getanswer')
        var answers = [];

        for (i = 0; i < results.length; i++) {

            if (results[i].type == "text") {
                answers.push(results[i].value); 
            }
        }
        console.log(answers);

        // jQuery Ajax Post Request using $.ajax()
        $.ajax({
            url: 'WordExercise',
            type: 'POST',
            // passing JSON objects as comma(,) separated values
            data: {
                ExerciseId,
                answers
            },
            success: (response) => {
                // response from PHP back-end PHP server
                $("#resultID").show().html(response);
            }
        })
    }
</script>