@using ESchool.Helpers
@model ESchool.Models.CourseTimeTable.TimeTableViewModel

@{
    ViewData["Title"] = "Занятии";
}

<h1>Расписание занятий</h1>

<div>
    <div class="form-group">
        <div>
            <label name="Название курса:"> <b>Название курса: </b>@Html.DisplayFor(model => model.CourseName)</label>
        </div>

        <div>
            <label name="Преподаватель:"> <b>Преподаватель: </b>@Html.DisplayFor(model => model.TeacherName)</label>
        </div>
        @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Teacher))
        {
            <div>
                <a asp-controller="TimeTables" asp-action="AddEntry">Добавить занятие</a>
            </div>
            }
    </div>

</div>




<table class="table">
    <thead>
        <tr>
            <th>
                Занятие
            </th>
            <th>
                Дата начала
            </th>
            <th>
                Дата окончания
            </th>
            @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Teacher))
            {
                <th>
                    Редактировать
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TTEntries)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Teacher))
            {
                <td>
                    <a asp-controller="TTEntries" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-controller="TTEntries" asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                    <a asp-controller="TTEntries" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>

@if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Student))
{
    <div>
        <a asp-controller="Home" asp-action="MyCourse">Назад</a>
    </div>
}
@if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Teacher))
{
    <a asp-controller="Home" asp-action="CourseControl">Назад</a>
}
